@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  max-height: 100%;
  background: #171717;
  overflow-x: hidden !important;
  overscroll-behavior: none !important;
}

body {
  height: auto;
}

#fullscreen {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

/* mobile-nav animated override */
.EZDrawer__container {
  background-color: #171717 !important;
}

/* card box shadows */
.box-shadow-01 {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.box-shadow-02 {
  box-shadow: rgb(17, 17, 17) 0px 0px 0px -10px inset, rgb(17, 17, 17) 10px -10px 0px -3px, rgb(17, 17, 17) 10px -10px,
    rgb(17, 17, 17) 20px -20px 0px -3px, rgb(17, 17, 17) 20px -20px, rgb(17, 17, 17) 30px -30px 0px -3px,
    rgb(17, 17, 17) 30px -30px, rgb(17, 17, 17) 40px -40px 0px -3px, rgb(17, 17, 17) 40px -40px;
}

.ht1-gradient {
  -webkit-animation: colorchange-1 40s infinite alternate;
  animation: colorchange-1 40s infinite alternate;
}

.animate-blinker {
  animation: blinker 1.5s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

.border-blue-500 {
  --tw-border-opacity: 1;
  border-color: rgb(63 131 248 / var(--tw-border-opacity));
}

.border-neutral-500 {
  --tw-border-opacity: 1;
  border-color: rgb(115 115 115 / var(--tw-border-opacity));
}

.border-red-500 {
  --tw-border-opacity: 1;
  border-color: rgb(240 82 82 / var(--tw-border-opacity));
}

.from-amber-500 {
  --tw-gradient-from: #f59e0b;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgb(245 158 11 / 0));
}

/* .bg-neutral-950 {
	--tw-bg-opacity: 1;
    background-color: rgb(20 20 20 / var(--tw-bg-opacity));
}
.bg-neutral-850 {
	--tw-bg-opacity: 1;
    background-color: rgb(33 33 33 / var(--tw-bg-opacity));
} */

.box-shadow-v2 {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

@keyframes blinker {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes colorchange-1 {
  0% {
    background: #212b42;
  }

  25% {
    background: #2c3068;
  }

  50% {
    background: #3e4245;
  }

  75% {
    background: #212f43;
  }

  100% {
    background: #212f43;
  }
}

.ht2-gradient {
  -webkit-animation: colorchange-2 40s infinite alternate;
  animation: colorchange-2 40s infinite alternate;
}

@keyframes colorchange-2 {
  0% {
    background: #212b42;
  }

  25% {
    background: #2c3068;
  }

  50% {
    background: #3e4245;
  }

  75% {
    background: #212f43;
  }

  100% {
    background: #212f43;
  }
}

.ht3-gradient {
  -webkit-animation: colorchange-3 30s infinite alternate;
  animation: colorchange-3 30s infinite alternate;
}

.fadeOut-loading {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -webkit-animation: fadeOut 0.5s ease-in-out;
  animation: fadeOut 0.5s ease-in-out;
}

.imageRounding {
  animation: imageRounding 0.1s ease-in-out;
  -webkit-animation: imageRounding 0.1s ease-in-out;
  border-radius: 100%;
}

@keyframes colorchange-3 {
  0% {
    background: #212f51;
  }

  25% {
    background: #282c5b;
  }

  50% {
    background: #383c40;
  }

  75% {
    background: #223146;
  }

  100% {
    background: #263549;
  }
}

@keyframes imageRounding {
  0% {
    border-radius: 5px
  }
  25% {
    border-radius: 25px
  }
  50% {
    border-radius: 50px
  }
  75% {
    border-radius: 75px
  }
  100% {
    border-radius: 100px
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  25% {
    opacity: 75%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 25%;
  }
  100% {
    opacity: 0%;
  }
}



.border-gradient {
  --angle: 0deg;
  /* … */
  border-radius: 20px !important;
  border-image: linear-gradient(-45deg, #ee6652d2, #e6673c7e, #2366a6d5, #2366d5ab) 1;
	animation: rotate 15s ease infinite;
}

@keyframes rotate {
	0% {
		border-image: radial-gradient(0deg, #ee6652d2, #e6673c7e, #2366a6d5, #2366d5ab) 1;
	}
	50% {
		border-image: radial-gradient(180deg, #ee6652d2, #e6673c7e, #2366a6d5, #2366d5ab) 1;
	}
	100% {
		border-image: radial-gradient(360deg, #ee6652d2, #e6673c7e, #2366a6d5, #2366d5ab) 1;
	}
}

.spotlight-gradient {
	background: linear-gradient(-45deg, #ee6652d2, #e6673c7e, #2366a6d5, #2366d5ab);
	background-size: 500% 500%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar-parent {
  font-size: 1rem !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.navbar-parent * {
  box-sizing: border-box;
}
.navbar-parent li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.navbar-parent a {
  padding: 0.5em 0;
  color: rgba(255, 255, 255, 0.495);
  position: relative;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.navbar-parent a:before,
.navbar-parent a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.navbar-parent a:before {
  bottom: 0;
  display: block;
  height: 2px;
  width: 0%;
  content: "";
  background-color: #701a75;
}
.navbar-parent a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.navbar-parent a:hover:before,
.navbar-parent .current a:before {
  opacity: 1;
  width: 100%;
}
.navbar-parent a:hover:after,
.navbar-parent .current a:after {
  max-width: 100%;
}